[2011-01-21 15:28] discofever opened #1 "Examples ?"
Hi, very interesting project.

Any examples on how to use ?

[2011-01-21 20:28] #1 closed, assigned to nobody

[2011-02-11 01:49] c4milo opened #2 "Migrate and test with nodejs 0.6"

[2012-01-13 00:47] yocontra opened #3 "Project Status"
Is this project still being developed?
We are looking into using it for http://nodester.com and would be interested in adding to it.

[2012-04-04 12:24] c4milo opened #5 "Use https://github.com/c4milo/node-xml2json to avoid users to mess up with xml"

[2012-04-04 12:24] c4milo opened #6 "migrate to nodejs >= 0.6"
This includes to get rid of EventEmitter altogether and using ObjectWrap instead.

[2012-04-04 12:25] c4milo opened #7 "migrate tests to mocha"

[2012-04-04 12:26] #3 closed, assigned to nobody

[2012-04-05 14:56] #6 closed, assigned to nobody

[2012-04-07 18:39] c4milo opened #9 "use libuv thread pool for blocking functions"
All the functions doing IO should use libuv's `uv_queue_work` function in order to not block Node.js main thread.

Some useful references:

* Libuv API: https://github.com/joyent/libuv/blob/master/include/uv.h
* Libuv book section about uv_queue_work: http://nikhilm.github.io/uvbook/threads.html#libuv-work-queue

[2012-05-21 08:53] drscream opened #10 "getActiveDomains() return ids not names"
Hello,

i would like to inform you that getActiveDomains() return a list of ids not names. The function getDefinedDomains() return the name. Example:

[code]

It would be nice if you could have a look at it.

Thanks and best regards,
Thomas

[2012-05-23 15:31] #10 closed, assigned to nobody

[2012-07-06 02:36] #2 closed, assigned to nobody

[2012-07-06 02:40] c4milo opened #11 "Move build system to GYP"

[2012-08-04 07:53] ssbanerje opened #12 "Does Git master branch build?"
Does the project build correctly?
I am getting these errors

[code]

[2012-08-04 13:31] #11 closed, assigned to nobody

[2012-08-10 10:13] #12 closed, assigned to nobody

[2012-08-10 10:18] ssbanerje opened #14 "Destroying a Domain"
Hi,
I am trying to destroy a domain using the following code

[code]

But it seems to be giving me this error

[code]

What is the problem here?

Cheers,
Subho

[2012-08-10 17:02] Preetam opened #15 "Callbacks"
I think every function should expect a callback to keep things asynchronous. `uv_async_*` stuff will probably be necessary.

[2012-08-10 23:51] c4milo opened #17 "Rename domain.stop() to domain.destroy();"
It will be more consistent with libvirt API. See http://libvirt.org/html/libvirt-libvirt.html#virDomainDestroy

[2012-08-14 17:22] #14 closed, assigned to nobody

[2012-08-30 02:35] #17 closed, assigned to nobody

[2013-08-24 21:27] binBASH opened #24 "Patch for sendKey"
[code]

[2013-08-24 21:41] #24 closed, assigned to nobody

[2014-02-06 02:32] bocajspear1 opened #28 "Getting an unknown error"
I'm getting a rather obscure error. I keep getting it when I run my script:

[code]

I am wondering what would be a way to get more information from the system so I can actually figure out what is going on. I've tried debugging libvirt itself, but it seems okay, I've tried everything I can think of, except use a debug version of node. It appears to pop up when I call child_process.exec.

Node Vers

[2014-02-06 06:11] #28 closed, assigned to nobody

[2014-02-14 02:31] vikhyath opened #29 "getNodeDevicesNames not supported by the connection driver"
Great work guys! I started using the library today and it is impressive. Especially the simplicity. However I am running into some issues... I have stuff working as long as they dont deal with devices. But anything that deals with devices, things like "getNodeDevicesNames", "lookupNodeDeviceByName" fail with an error that says that the function is not supported by the connection driver. Thoughts?

[2014-02-14 13:09] #29 closed, assigned to nobody

[2014-03-23 04:08] bocajspear1 opened #30 "Error when calling attachDevice"
I am getting the following error with a nodejs crash when calling domain.attachDevice:

[code]

This gist contains the full stack trace:
https://gist.github.com/bocajspear1/b40f92685e8a0b8b5b3a

When the line calling attachDevice is commented out, all other calls using the current domain work properly.

NodeJS version: v0.10.26

Thanks.

[2014-03-23 04:48] jmarceno opened #31 "Package not building (git nor npm)"
When trying to install it hangs. Log is below, any clue?

gyp info it worked if it ends with ok
gyp info using node-gyp@0.13.0
gyp info using node@0.10.26 | linux | x64
gyp info spawn python
gyp info spawn args [ '/usr/local/lib/node_modules/node-gyp/gyp/gyp_main.py',
gyp info spawn args   'binding.gyp',
gyp info spawn args   '-f',
gyp info spawn args   'make',
gyp info spawn args   '-I',
gyp info

[2014-03-23 22:33] #31 closed, assigned to nobody

[2014-04-24 16:53] atoy40 opened #32 "libvirt events and virEventRegisterImpl()"
Hello,

When you try :

    c.registerDomainEvent({evtype: c.VIR_DOMAIN_EVENT_ID_LIFECYCLE, callback: function() {
      console.log("lifecycle event");
    }});

you get a libvirt error : "could not initialize domain event timer"

In order to use libvirt events, an event "manager" has to be defined using virEventRegisterImpl. This function must provide function pointers for various task (http://l

[2014-05-01 15:27] c4milo opened #33 "Big refactoring has to happen in order to continue supporting newer node.js versions"
For more information, please refer to:
https://groups.google.com/forum/#!topic/v8-users/6kSAbnUb-rQ

[2014-08-04 08:46] zhenfdfs opened #36 "error when i register function callbacks for domain events"
I want my ios app receive the event of my virtual machine, so i need to monitor all the event.  But I encounter an issue when I use  this function registerDomainEvent .Could anyone help me? Very thanks!

[root@TEST-LC-NC-0-0-31 ~]# node event_cb.js
libvirt: Remote Driver error : adding cb to list

/root/event_cb.js:14
hyper.registerDomainEvent(event);
      ^
[object Error]
[root@TEST-LC-NC-0-0-31

[2014-09-05 13:09] c4milo opened #37 "Add contributing guide"
Some examples:
* https://github.com/h5bp/html5-boilerplate/blob/master/CONTRIBUTING.md
* https://github.com/hashicorp/terraform/blob/master/CONTRIBUTING.md
* https://github.com/puppetlabs/puppet/blob/master/CONTRIBUTING.md

[2015-02-24 13:00] atoy40 commented on #36
First , you've to call libvirt.setupEvent() to start the event loop handling.
Then here is an example i'm using :

libvirt.setupEvent();

// self.connection is an Hypervisor instance.
self.connection.registerDomainEvent({evtype: self.connection.VIR_DOMAIN_EVENT_ID_LIFECYCLE, callback: function(hv, dom, data) {
    console.log("[virt] state change "+ data.evtype + " " + data.detail);
    var id = d

[2015-02-24 16:10] atoy40 commented on #9
Hey,

@vegetableman , did you start working on it ?
I'm working on a project where an application need to handle a lot of different libvirt connections, and one cannot lock the node process if it has a problem (or not ...). So i'm looking to use libuv workers to call libvirt C functions (i think all functions will need it, because there're all likely to talk to a remote hypervisor)

Thanks
Anthony

[2015-02-24 19:20] vegetableman commented on #9
Nope. Was expecting a reply for the above query to give it a shot for the bounty. Didn't receive any :(.

[2015-02-24 20:35] c4milo commented on #9
@atoy40, @vegetableman I'm sorry I couldn't answer on a timely fashion. I've been swamped. I'm happy to give you access to the repo if you want to work on these issues.

[2015-02-24 20:37] c4milo commented on #9
@vegetableman regarding your question: I worked on the assumption that libvirt managed hypervisors should always report some sort of versioning. If it is not true, feel free to get rid of that assertion.

[2015-02-24 20:43] c4milo commented on #37
Landed in 59f5ac67a1e2678db735857c138913c6a366bcd5

[2015-02-24 20:43] #37 closed

[2015-02-26 16:51] vegetableman commented on #9
@c4milo my bad. I was referring to whether support for callbacks and promises on all functions would suffice.  I may get to it this weekend if i find time, if @atoy40 could beat me to it, all the better.

[2015-02-26 17:56] atoy40 commented on #9
Just started to work on it this afternoon (because i've a lot of problems with my app, for example when a connection wait for a ssh key authorization... the whole app is locked)
Just to test, i started to async the connection method (now need a connect() method instead of connecting trough the constructor as it is in the current synchronous version) and the getCapabilities() method.

I've commited

[2015-02-26 20:39] c4milo commented on #9
@atoy40 that looks good to me.

[2015-02-26 21:23] #32 closed

[2015-02-26 21:40] atoy40 commented on #9
I think it can be done using some JS shims, so you'll not use directly the C++ object/wrapper.
The wrapper itself has to be traditionnaly async, with callback, then a JS library can expose it using a promise/A implementation

[2015-02-27 00:53] c4milo commented on #9
Sounds good, I think newest V8 versions have native support for promises. Do you think it will be better to do with JS shims?

[2015-02-27 02:32] thwi commented on #9
+1 for returning promises if possible. Otherwise exposing object prototypes so it can be easily promisified would work, too.

It may be outside the scope of this issue and more related to #33, but if a large rework is taking place I would also recommend the [Native Abstractions for Node] (https://github.com/rvagg/nan) library to provide future compatibility with node 0.12+ and io.js. The library a

[2015-02-27 03:20] c4milo commented on #9
Absolutely, thanks for bringing it up, using NAN would be ideal to make migrating to future node.js/io.js versions more seamless.

[2015-02-27 08:28] atoy40 commented on #9
@thwi , i cannot show you my browser history, but it's full of nan.h since yesterday :D

[2015-02-27 13:42] atoy40 commented on #9
Now using NAN to handle async worker.
https://github.com/hooklift/node-libvirt/compare/master...atoy40:async?expand=1

[2015-02-27 13:45] atoy40 commented on #9
@c4milo have you any pointers about new v8 and promise support ? because i've read promise implementation are outside of node/io.js engine, so you can have many different implementations. This is why i think a JS shim between apps and c++ wrapper is the easiest (and best ?)

[2015-02-27 14:35] c4milo commented on #9
https://code.google.com/p/v8/source/browse/trunk/src/promise.js

I must say, though, that I've never use them before. There are people
saying they were slow and a moving target (
http://stackoverflow.com/a/21754176), however I'm not sure if that still
holds true nowadays.
On Fri, Feb 27, 2015 at 8:45 AM Anthony Hinsinger <notifications@github.com>
wrote:

[2015-02-27 23:26] wmertens commented on #9
Promises are completely awesome. They make async programming easy, allow
you to throw in async context, give you a object to cache responses (both
answers and failures) with, and generally clean up the code. They are of
course slower than not doing anything, but their overhead is generally
dwarfed by the async things you are wrapping with them.

On Fri, Feb 27, 2015 at 3:35 PM Camilo Aguilar <noti

[2015-02-28 00:00] c4milo commented on #9
@wmertens Oh, my bad, in my previous comment I wasn't putting in doubt the usefulness of promises. I think we all agree that will be the best way to go. The question relates to whether we use V8's native promises or something like Bluebird.

[2015-02-28 00:10] wmertens commented on #9
Given that any promise library can consume the native promises, native
seems like the way to go, but of course it limits you to recent Node
versions. Not that I think that's a problem.

On Sat, Feb 28, 2015 at 1:00 AM Camilo Aguilar <notifications@github.com>
wrote:

[2015-03-02 16:24] atoy40 commented on #9
Hey, i've migrated all Hypervisor methods using GET_LIST_OF and GET_NUM_OF (so ~20 methods in one shot :D), and also Domain::lookupByName(). Then to test usability, i've written a little piece of code using bluebird promise implementation and it looks really nice and easy to use. I've simply "promised" 4 methods, and it become :

[code]

connect ... THEN get domain names THEN get lookup each domai

[2015-03-02 18:16] c4milo commented on #9
@atoy40 wow, that looks pretty nice. Thanks for all that work Antony.

[2015-03-11 20:47] c4milo commented on #9
https://github.com/iojs/io.js/issues/456

[2015-03-17 23:37] Rush commented on #9
It's awesome to see people working on async node-libvirt. I think Promises are the right way to go but bindings should not be concerned with promises to not complicate things. There should be some thin JS layer on top of native layer which magic like https://github.com/petkaantonov/bluebird/blob/master/API.md#promisepromisifyallobject-target--object-options---object

[2015-03-18 00:00] c4milo commented on #9
Agreed. @atoy40 went the Bluebird path instead of using V8's native promises.

[2015-03-18 11:38] atoy40 commented on #9
yes @Rush, this is exactly what i'm trying to do : let the binding dealing with "standard" callbacks (standard means error/undefined as first parameter) and write a simple JS wrapper over it to returns promises.
The first big piece (the Domain object) is damn finished !!! :)
I'm starting the Hypervisor, another big one, then the others are smaller.

Anthony.

[2015-04-01 02:50] mbroadst commented on #9
@c4milo @atoy40 others maybe: I think it's probably time I signal my intent :smile: I've got a fork of this project that converts the entire module to work asynchronously over [here](https://github.com/mbroadst/node-libvirt/tree/the-great-refactor). I'm still trudging through the Domain class, but everything else has been converted. The branch builds on @atoy40 's work, and good lord do I understa

[2015-04-01 02:58] Rush commented on #9
@mbroadst: Sounds good. I like your C++11 approach. I think this should simplify lots of the code. I went for similar approach when doing node-cbind (https://github.com/encharm/node-cbind) but I didn't get to do the interesting stuff yet due to lack of free time. :) We will get to test your branch soon enough. Thanks for all the hard work.

[2015-04-01 03:03] mbroadst commented on #9
@Rush Cool. LibVirtHandle is the only thing that needs C++11 features, and it can use a LOT of work - it's pretty slapped together but it works for the moment. The intent was to make a shared union type for all the different pointers. It uses a union in its dptr, but frankly it could probably be stored just as a single void*, and provide a templated .As<>() accessor (which would make the macros/te

[2015-04-01 13:27] mbroadst commented on #9
@Rush another thing I haven't quite handled is that test order still matters unfortunately. This seems to be a bug in the libvirt test driver itself, as there doesn't seem to be an easy way to forcibly reset the internal state (the driver's local storage is "per-process" so we're SOL when running all tests through a single mocha run).  As a result ```make test``` will pass ~108 tests, but not run

[2015-04-01 19:00] c4milo commented on #9
@mbroadst brave efforts, I generally like the direction you are taking. Node-libvirt was originally written in 2010, following the same C++ code conventions Node was following which at the time I think were Google C++ conventions. That said, my only concern with your changes is removing features some users might be currently using like Domain events.

The main reason for persistent handlers was so

[2015-04-01 19:06] mbroadst commented on #9
@c4milo re: the Persistent stuff. What I meant specifically was I've removed all the static Persistent handles to strings that are used as identifiers in returned objects (see [here](https://github.com/hooklift/node-libvirt/blob/master/src/domain.cc#L10) for example). This was needless, and V8 isn't going to reclaim the memory. Things that indeed need to be persistent are still persistent :smile:

[2015-04-01 19:11] c4milo commented on #9
:+1:

I'm in favor of using EventEmitter too. I also like a lot the API cleaning. You are right, we can just release a new version, making explicit that it breaks backwards compatibility.

[2015-07-31 10:42] Xantios opened #52 "installation instructions can use some additions"
When going through the initial instructions on a debian setup you need some additional dependency's which are not stated in the instructions maybe add something like:

You need the libvirt-dev on debian stable ( apt-get install libvirt-dev ) and maybe the libicu-dev package ( apt-get install libicu-dev )

After download these packages go to the cloned repo and run "npm install nan"

now you can co

[2015-07-31 12:26] mbroadst commented on #52
@Xantios you're right, the instructions _are_ out of date. Specifically they should just be:
[code]

Or something to that effect. Would you be interested in cleaning up the docs and submitting a PR? Contributions are more than welcome

[2015-08-17 12:19] #33 closed

[2015-08-17 12:19] #15 closed

[2015-08-17 12:19] mbroadst commented on #15
fixed in master

[2015-08-17 12:20] mbroadst commented on #9
guys I think its time to close this issue. The current master passes something like 150+ tests all using async callbacks. There are parts of the API that are not yet converted, and will be on a case-by-case (best effort) basis, but the general support is there.

[2015-08-17 12:20] #9 closed

[2015-08-17 12:20] mbroadst commented on #7
fixed in master

[2015-08-17 12:20] #7 closed

[2015-08-17 13:02] mbroadst commented on #52
fixed in 220294a0932df940568681a5b0b32507715afb92

[2015-08-17 13:02] #52 closed

[2015-08-17 13:46] c4milo commented on #9
@mbroadst, sounds reasonable to me, thanks for all the hard work.

[2015-10-06 17:01] mbroadst commented on #30
I think it's probably safe to say with the multiple nan refactorings that this is no longer an issue

[2015-10-06 17:01] #30 closed

[2015-10-06 17:02] mbroadst commented on #36
closing as it is no longer relevant to the current codebase/implementation. Will reopen if @zhenfdfs chimes in

[2015-10-06 17:02] #36 closed

[2015-12-05 16:02] soichih opened #63 "Can't install on RHEL 6.7"
Hello.

I get following error when I try to install it on RHEL 6.7 KVM host.

[code]

[2015-12-05 16:03] mbroadst commented on #63
@soichih what version of node are you trying to build against?

[2015-12-05 19:38] soichih opened #64 "lookupDomainById returns empty object"
I have a running domain on my KVM.

[code]

which I can query via the listActiveDomains

[code]

[code]

However, when I try to query by the id

[code]

I get empty object from lookupDomainById

[code]

I also get an empty object if I do lookupDomainByName("ubuntu14")...

What am I missing?

[2015-12-06 03:18] soichih commented on #63
@mbroadst This is for node v0.10.36 with npm 1.3.6 (the latest on the RHEL 6)

[2015-12-09 03:29] Rush opened #65 "Parent objects get garbage collected before children' async operations finish which can lead to a crash"
Consider this simplistic case case that can cause Segmentation fault:

[code]

Solution that fixes it is:

[code]

I am yet to devise a pure node-libvirt test case. Anyway, a way to test it is to try to create many volumes in parallel using the above pattern and preferably call node with `node --expose-gc`, furthermore add code `if(global.gc) setInterval(global.gc, 1);` which should make sure the

[2015-12-09 15:07] mbroadst commented on #65
@Rush yeah, hmm memory is pretty tricky in these cases. There are a few ways to ensure the objects stick around (I think the persistent handle, as well as an explicit internal counter that can be increased), but then you need to ensure it's dereffed when it's no longer needed - big headaches here.

Would it be possible to write a simple "manual" test case that we could run as part of the automated

[2015-12-15 18:25] mbroadst commented on #65
@Rush I'm running the following snippit:

[code]

and getting this output:
[code]

does that look like what you're running into?

[2015-12-15 20:03] mbroadst commented on #65
@Rush update here, that does look like the relevant error however I think we've tapped out my creativity on solving the problem :smile: I've spend about an hour trying to figure out how to "attach" the parent to the child object from the C++ side, but it seems incredibly difficult.

I did, on the other hand, find a solution through javascript which might be the way to go (but then we've got a bit

[2015-12-15 22:10] #65 closed

[2015-12-16 14:12] mbroadst commented on #63
@soichih this looks related to this: https://github.com/nodejs/nan/issues/414

[2015-12-16 14:13] #63 closed

[2016-01-22 20:11] jra11 commented on #64
Almost the same for me:

[code]

JS code:
[code]
Result:
[code]

[2016-01-22 20:46] mbroadst commented on #64
@jra11 can you try just directly looking it up without using the loop? We have a test that runs to validate that this works correctly with the test driver, but we'll need to narrow down what's happening in your case. So you'd have:

[code]

[2016-01-22 21:26] jra11 commented on #64
@mbroadst

Sorry I deleted my message before viewing your answer. My code was working well.

The disturbing part was the "console.log(domain)", which prints a weird object (the "_parent" stuff without any other property, how to explain that?),  but all methods called on this domain object worked well, such as domain.destroy(...) etc.

[2016-01-22 21:31] jra11 commented on #64
For others:

console.log on a valid Domain object prints that:
{ _parent:
   { uri: 'qemu:///system',
     username: '',
     password: '',
     readOnly: false } }

This is how a Domain object appears in console.log, on nodeJS server-side.

[2016-01-22 21:40] mbroadst commented on #64
@jra11 ah yes, that's a side-effect of the way we bind to libvirt and sort of a holdover from the original implementation.

That `_parent` object is a solution we came up with rather recently to ensure child objects are properly cleaned up in order with their parent objects (in this case the domain is a child of the top level hypervisor object) - memory management is a bit tricky when you're mixin

[2016-01-22 22:37] c4milo commented on #64
The main reason the domain object is not automatically populated, upon look up, is efficiency. As, it may require multiple I/O operations, depending on the hypervisor. So, it is better to let users get the specific information on demand.

[2016-01-22 22:40] c4milo commented on #64
@mbroadst, perhaps we should also make the `_parent` property not enumerable?

[2016-01-22 22:42] mbroadst commented on #64
@c4milo yeah that's a very good idea

[2016-01-22 23:05] jra11 commented on #64
User view as I don't have your expertise:
a short section in the doc and a function to populate one full object in case of need would be welcomed Indeed It is really tricky as such dynamic behaviour is not usual for JS developers, and as the library is already not easy to use (you have to read the code and read the libvirt api, which is itself not very easy), being able to prefetch the full object

[2016-01-22 23:10] mbroadst commented on #64
I'm basically of a mind (given time, and resources), that a top-level configuration option on the initial library import for "eager loading" should be provided. It's sometimes very silly how long a promise chain needs to be in order to get the data you want to work with, the module as is is very "low level".

I can definitely see the benefit in making it much more user friendly, with an opt-out fo

[2016-02-03 23:13] soichih commented on #64
Can someone explain (in a laymen's term) what's being discussed here? Is it even related to the issue I reported at the top?

[2016-02-04 12:53] mbroadst commented on #64
@soichih can you please try your test again with the latest codebase? I suspect the issue you're running into is because the object "looks" empty, but is in fact a useable interface to the domain.

[2016-02-09 18:57] dmansfield opened #67 "Error information can be lost during high concurrency"
When the API encounters an error, it generally calls virGetLastError() and "stashes" the pointer to the libvirt error object, which is returned to the user, wrapped up an an Error object.  The getters on the Error object look at the various fields of the "stashed" virErrorPtr struct.

However, according to the libvirt documentation:

So if the same worker thread gets re-used before the consumer ha

[2016-02-09 20:40] #67 closed

[2016-03-22 00:22] Rush opened #69 "Error objects become invalid and cause a crash (test-case supplied)"
Took me a while to nail it down to this simple test case.

Couple of things:
* Requirement to trigger the bug: storage pool that has several volumes. Even fake ones may suffice.
* Combination of querying for existing and non existing storage volumes, and only in parallel, causes the crash.

[code]

Stacktrace:
[code]

A trivial fix for `src/error.cc:180` to account for `error_->message` being NULL

[2016-03-22 12:17] Rush commented on #69
Uh, just noticed that is has been fixed by https://github.com/hooklift/node-libvirt/commit/46ce09e9669ac776fd191a3b8c3780cfe45f9061

Can we have a new release?

[2016-03-22 17:40] c4milo commented on #69
I will publish a new release shortly.

[2016-03-22 17:49] c4milo commented on #69
v1.1.3 is up in NPM @Rush.

[2016-03-22 17:49] #69 closed

[2016-03-22 19:30] Rush commented on #69
@c4milo Thank you for quick action!

[2016-03-22 21:57] c4milo commented on #69
No problem at all @Rush. Thanks for reporting this.

[2016-03-26 17:15] mbroadst commented on #69
@Rush @c4milo sorry I was away on vacation, glad you worked it out!

[2016-03-26 20:18] Rush commented on #69
@mbroadst I hope you had a great vacation. You guys @mbroadst @c4milo rock. :) Happy Easter.

[2016-04-14 17:33] Rush opened #70 "lookupStorageVolumeByVolume is not implemented"
Such a useful method and it's bummer it's not done.  Is there a similar method in the codebase we could base `lookupStorageVolumeByVolume` on?

[2016-04-14 17:42] mbroadst commented on #70
@Rush I don't actually see that in the api reference, though I do see `virStoragePoolLookupByVolume` did you mean that?

You should be able to use the `NLV_LOOKUP_BY_VALUE_WORKER` but will probably have to fill in the implementation yourself since you'll need to unwrap a passed in `StorageVolume` object iiuc.

[2016-04-14 17:47] Rush commented on #70
Yes I meant https://libvirt.org/html/libvirt-libvirt-storage.html#virStoragePoolLookupByVolume

That's what I ask for. Are there any similar implementations in the code that I could just copy and paste? :) I feel like each time I do Nan+v8 I need to learn it from the start.

[2016-04-14 17:55] mbroadst commented on #70
Yeah I feel your pain :)

Unfortunately there isn't anything you can directly copy, as all of the other `lookupBy*` methods generally take a string, but I don't think what you're asking for would be too hard.

The first thing I would do if I were you would be to copy and paste the implementation for `virStoragePoolLookupByVolume` (in `storage_pool.h/cpp`), rename it to `ByVolume` but still taking

[2016-04-26 05:36] zxlin commented on #5
It doesn't look like this was ever implemented. But this would be a really nice feature to have.

[2016-04-26 14:43] mbroadst commented on #5
@zxlin this would be very simple to implement, if you'd like to take a stab at doing this I would be more than willing to help you do it

[2016-06-28 20:22] Caes95 opened #73 "tests != docs."
It becomes very complicated start to use and contribute to this project, because it lacks documentation, apparently referring to unit testing, as if it were an appropriate way to start, but they are not.

Maybe for beginners like me it is complicated, but the idea is that everyone can contribute, or at least try.

[2016-06-28 20:30] mbroadst commented on #73
@Caes95 there is an API page linked to on the front page where others before you have contributed time to start putting documentation together. This is open source, and therefore a best-effort situation and I very much encourage you to help us with this if you continue to learn how to use this module.

The idea behind the tests being helpful is that they are indeed examples of how the module would

[2016-08-23 22:35] Rush commented on #5
While I do use xml2json (xml2js) library in my own project I do see that it opens another can of worms. JSON <-> XML conversion is not really 1:1, especially when arrays and numbers are involved. I advise against integrating such library into node-libvirt.

[2016-08-25 13:23] mbroadst commented on #70
@Rush looks like you implemented this a day ago :) closing

[2016-08-25 13:23] #70 closed

[2016-08-25 13:32] #64 closed

[2016-08-25 13:33] mbroadst commented on #5
agreed, we'll close this for now pending future interest

[2016-08-25 13:33] #5 closed

[2016-08-26 21:17] Hibryda opened #75 "Events not firing"
I have a piece of code:
[code]
After running the above I get the following error:
`libvirt:  error : internal error: could not initialize domain event timer`

Why is it so?

[2016-08-27 12:12] atoy40 commented on #75
Hello,

you've to call virt.startEventLoop() first to register libvirt event manager with the nodejs event loop.

Anthony.

[2016-08-27 16:55] Hibryda commented on #75
Thanks. Will try.

[2016-08-28 19:48] Hibryda commented on #75
Ok, tried with calling virt.startEventLoop() . It actually works somehow, as it now reacts to events. But not the one that is attached. Just for quick try I attached reboot event and rebooted the vm form virt-manager. The output from console of my app shows GENERIC CALLBACK CALLEDGENERIC CALLBACK CALLED. But not the callback I attached. More, the callback gets executed immediately when registratio

[2016-08-28 20:02] Hibryda commented on #75
Dug a little further and see that generic is attached to reboot. More, generic emits no event, just prints the above.
The above changes actually nothing as I still have no clue how to register event without calling callback immediately.

[2016-09-01 09:21] atoy40 commented on #75
@Hibryda

First, use registerEventAsync (the promised version of the function) instead of registerEvent. Then, the libvirt domain acts as a EventEmitter, so you can use something looking like :

[code]
You can use callbackId to unregister the event handling :
[code]

Anthony.

[2016-09-01 20:22] Hibryda commented on #75
I just thought that there is a way to register an event and attach function in one step (like addEventListener). Apparently must do it in two steps.
Thanks for the answer.

[2016-10-11 14:00] mbroadst opened #80 "v2.0.0 promisification changes"
from gitter:

@Rush and I have been discussing breaking API changes for the v2 release, including removing the current promise api (wrapping all methods in Async variants) in favor of one of two options:
- promisifying such that all methods can either take a nodeback and support the existing async behavior on normal methods (e.g. Hypervisor.connect), and returning a Promise if no callback is speci

[2016-10-11 14:01] mbroadst commented on #80
@c4milo @wmertens @atoy40 @wmertens @tralamazza anyone else I forgot? 😄

[2016-10-13 15:46] c4milo commented on #80
I'm ok with either, and would lean towards one or the other based on effort.

[2016-10-13 16:39] mbroadst commented on #80
@Rush actually did a little napkin implementation when we were talking about it that supports callbacks and promises, so the effort is pretty minimal either way - it's more an issue of preference afaict.

[2016-10-13 16:54] c4milo commented on #80
I see, I think it is nice to be backwards compatible, especially, since we don't really know how many people is using the library. However, based on the NPM stats, it seems very few are.

[2016-10-14 09:19] wmertens commented on #80
I think having the missing callback trigger promise creation is great, so that either option is available. Very little overhead.

The NPM stats are probably low because this is a very niche product, how many people are writing tools in this space? Myself, I'm no longer in the job I was using this in :)

[2016-10-14 12:35] atoy40 commented on #80
Hello, I only use the Promisified API (through GraphQL schema/resolvers), but I feel supporting both callbacks and promises is the best way to do.

[2016-11-16 02:21] aafrey opened #84 "list by domain name?"
Is it possible to list all domains/running domains by name rather than ID? so rather than `.listActiveDomains()` we could have `.listActiveDomainsByName()` If it exists, I'm just not seeing it :/

Thanks in advance

[2016-11-16 07:31] atoy40 commented on #84
This is  a feature of the libvirt api, not about the node wrapper : virConnectListDomains() returns a list of ID
note : I think we have to add support for the new libvirt function virConnectListAllDomains() (even if it's not directly link to your question) it fixes race problems we can have by calling two different functions to get all domains (virConnectListDomains followed by virConnectListDefin

[2016-11-16 22:48] aafrey commented on #84
@atoy40 would I need to keep track of the names myself or is there a way of accessing them via the node wrapper?

[2016-11-17 00:26] mbroadst commented on #84
@aafrey the node wrapper tracking them would be exactly like you tracking them in this case. The libvirt api does not provide a method for looking up names of all domains - you would have to get all the ids, lookup each by id (to get the actual `Domain` object), and call `getName()` on it, this is what @atoy40 was suggesting.

Even with the added support for `virConnectListAllDomains`, we still en

[2016-11-20 02:29] aafrey commented on #84
I got this working, thanks for the advice! If you see a better way though let me know!

[code]

[2016-11-20 02:29] #84 closed

[2016-11-20 21:59] mbroadst commented on #84
@aafrey how about:

[code]

[2016-11-20 22:07] aafrey commented on #84
@mbroadst I'll give it a try, since it looks much much cleaner :)

[2016-12-23 06:09] RiadVargas opened #85 "Error with connection pointers"
Hello,

I'm passing by some troubles with 'defineDomain', 'createDomain' and 'lookupDomainByName'. When I execute that functions I get error like this:
`libvirt:  error : invalid connection pointer in virGetDomain
libvirt:  error : invalid connection pointer in virDomainLookupByName
lookupDomain.start(function(err, result) {
                 ^
TypeError: Object #<Hypervisor> has no method 'start'

[2016-12-23 13:12] mbroadst commented on #85
@RiadVargas are you actually connecting to the hypervisor before calling those methods? Can you please provide an example of the code that is giving you trouble?

[2016-12-23 13:59] RiadVargas commented on #85
Hello, @mbroadst,

Yes, I'm calling that functions inside the connect callback. The strange is that the VM is created and started, when I use createDomain, but the error shows up.
Errors: http://pastebin.com/yV8zrnGm
Code: http://pastebin.com/GbbAswUE

[2016-12-23 14:22] mbroadst commented on #85
@RiadVargas in your `connect` callback you are making two asynchronous calls at the same time: one to `createDomain` and one to `disconnect`. I suspect that the issue you are having is because you've already disconnected by the time the async worker actually attempts to create the domain

[2016-12-23 15:00] RiadVargas commented on #85
Didn't noticed that, my bad. Thanks for your support!

[2016-12-23 15:00] #85 closed

[2017-01-06 22:17] oferb1 opened #86 "Domain migration with options fails with sigfault"
There are two servers in this environment, both running KVM on Ubuntu 14.04 LTS

- Server 1 (192.168.1.200), Running a guest called TP0001
- Server 2 (192.168.1.202), running no guests

The following virsh command completes successfully:
`virsh migrate TP0002 qemu+ssh://192.168.1.202/system --live --p2p --tunnelled --compressed --persistent --undefinesource`

The following node code fails with `Se

[2017-01-09 13:44] #86 closed

[2017-01-09 14:00] oferb1 commented on #86
Confirmed working now - thanks!

[2017-01-21 21:58] fatihsoydan opened #87 "lookupDomainByUUID"
Hello,
I am trying to get a domain by uuid.

[code]

it says :
libvirt: QEMU Driver error : Domain not found: no domain with matching uuid '35383130-3533-6236-2d32-6131322d3462'

Ok, you didn't find 35383blabla , but i didn't want this.

Is there a typo problem in this function ?

[2017-01-22 00:33] mbroadst commented on #87
@fatihsoydan I'm not sure what your question is here? You're trying to lookup the domain by an id that does not exist.

[2017-01-22 09:59] fatihsoydan commented on #87
i will explain,

i am searching "**581053b6-2a12-4b20-b4a5-fc06c1d25cf5**" but library says no domain with matching uuid '**35383130-3533-6236-2d32-6131322d3462**'

[2017-01-27 13:34] atoy40 commented on #87
@fatihsoydan @mbroadst I had the same problem this morning, and let me explain it :)
This is a problem with the usage of the libvirt api which now have two functions to lookup domain by UUID :
- virDomainLookupByUUID
- virDomainLookupByUUIDString

The first one wait for a raw UUID (an array of uchar), the second wait for the string form (a char*). The problem in the wrapper is Domain::GetUUID give

[2017-03-15 16:52] #87 closed

[2017-03-15 17:05] oferb1 opened #89 "set/get secret value do not work properly"
I have found the following issues when testing secrets (for Ceph storage pools)

- `setValue` will clip the passed key
- `virsh` retrieves the data base64 transposed

[code]

[2017-03-18 20:07] mbroadst commented on #89
@oferb1 okay the `SetValue` bug is fixed in fcb1637a250e456a9d91aac615117136a6f44076. I'm not sure what you mean in the second part of your question: that virsh returns the value base64 encoded? The test I added here shows that `setValue` will have the same `getValue`, so I might make the argument that base64 encoding/decoding is up to the end user in this case (and a weird implementation detail o

[2017-03-19 03:35] oferb1 commented on #89
Thanks - I confirmed that it works, and was able to set a secret, and define a Ceph pool using it.

Still when I use virsh to read the value, I get it base64 transposed - weird...

[2017-03-19 12:44] mbroadst commented on #89
Still not sure what you mean about "transposed" in this case. Can you use node-libvirt to check if virsh is converting to base64 on the way in or out? like store it with virsh and read with node-libvirt and visa versa

[2017-03-19 17:47] oferb1 commented on #89
virsh set value
[code]
node-libvirt get value
[code]

node libvirt set-value
[code]

virsh get value
[code]

[2017-05-02 13:31] Bircoum opened #91 "Domain clonage"
How can I clone an entire vm with node-libvirt ?

I search an equivalent of virt-clone, can I do that with node-libvirt ?

Thanks.

[2017-07-11 18:38] ghost commented on #73
Docs lack examples. A great start would be basic app setup both local and remote.

[2017-07-11 18:41] c4milo commented on #73
@dff3bc, yes, we should have some examples in the documentation, any contributions are very welcome. In the mean time, the best we have to offer are our tests which exercise the API to a reasonable degree.

[2017-07-11 21:25] ghost commented on #73
I wouldn't mind documenting this but working off of your test cases is cumbersome at best. If there were just an examples document with basic use of each function then documentation wouldn't be a problem and your project would be a lot more popular. Maybe I'm a noob but trying to use this without the docs is painful, especially since I have a strong desire to use this lib in my project.

[2017-07-11 21:55] dustinaevans commented on #73
The last comment was my other profile. Disregard. I just figured it out. I will start putting docs together.

[2017-07-12 15:54] c4milo commented on #73
Awesome, thanks @dustinaevans!

[2017-11-02 04:36] lbcheng888 opened #92 "npm install in windows error"
Have installed `npm install --global --production windows-build-tools`
npm install -g failed
run node-gyp.cmd rebuild manully lack of header files
put header files into windows10/kits/ucrt cause error like unmatching source files and header files.

[2018-01-30 07:00] planetbeing opened #93 "Current version in npm does not have the latest fixes."
In particular, domain lookup by UUID is unusable in the version in npm. Can another release be made?

[2018-01-30 07:07] c4milo commented on #93
I’ll publish a new version tomorrow. Thanks for letting me know!

[2018-03-08 08:55] gabidrg commented on #93
Any updates on when a new release is to be made? Thanks!

[2018-03-30 01:22] eschultz commented on #93
publish new version pretty please?

[2018-06-26 15:11] veber-alex opened #94 "How to listen for all domain events from hypervisor"
Hi,
I am trying to write an app that will notify when a new VM is added to a HV.
How can I listen to all events from the hypervisor?
I know the Domain object has RegisterEventAsync but I don't want to register events from a specific domain.

This is what I am trying to do:

[code]

[2019-01-28 04:06] OmgImAlexis opened #95 "Maintainers?"
I've noticed there are really any docs and the readme doesn't matchup all that well with the code anymore. I'd love to volunteer to maintain this repo and get it back to a working order.

@c4milo I know you're busy and that's kinda why I'm pinging you.

[2019-01-28 21:52] c4milo commented on #95
Thanks for reaching out @OmgImAlexis. Maintainers are always welcomed.

[2019-01-28 22:31] OmgImAlexis commented on #95
No worries.😊

Shall I work with PRs or did you want to add me to this org?

[2019-01-28 23:02] c4milo commented on #95
@OmgImAlexis, traditionally, maintainers have been added to the org after their first PR land and there is still interest to keep contributing. Let's start with PRs for now, if you don't mind.

Thanks a lot for wanting to help!

[2019-03-21 18:38] #80 closed

[2019-04-25 15:23] renambot opened #96 "Crashes when using events"
When using life cycle events to detect reboots and shutdowns, it crashes very often (segfaults) in the C++ handler.
It crashes all the time with Node 11.x, a little bit less with Node 10.x.

Anyone using life cycle events successfully and reliably ?

[2020-06-11 11:53] musharaf780 commented on #73
Anyone, please help me o solve this.

Discuss the significance of Agility and Multitenancy in cloud computing.
You are a system administrator of a company whose current IT setup comprises of the following
on-premises services
1. Company’s website
2. CRM Application
3. Microsoft exchange
4. Sharepoint
5. Active Directory Domain Services
6. Storage
Company wants to move all their services on to the

[2020-12-08 16:19] crxtech opened #98 "Can't install on Centos 7"
Hello.

I get following error when I try to node-gyp build node-libvirt on Centos 7, node 15.2, npm 7.0.8, node-gyp 7.1.2, python 3.6.8 and libvirt 6.5. node-gyp configure returns ok.

make: Entering directory `/home/userName/projectName/node_modules/libvirt/build'
  CXX(target) Release/obj.target/libvirt/src/domain.o
In file included from /home/userName/.cache/node-gyp/15.2.0/include/node/node.h:

[2021-05-27 04:16] OmgImAlexis commented on #93
@c4milo can we please get the latest version pushed?

[2021-05-28 04:13] c4milo commented on #93
ouch, will look into it this week! thanks for the nudge!

[2022-10-03 03:34] OmgImAlexis commented on #93
Did the latest version ever get published?